.body {
	background-color: #f2f2f2;
	font-family: "Montserrat", sans-serif;
}

.cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	background-color: #fffffe;
	margin-left: 4rem;
	margin-right: 4rem;
	margin-bottom: 5rem;
	position: relative;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 4px;
}

.cart_card {
	display: flex;
	flex-direction: row;
	width: 100vw;
	align-items: center;
	justify-content: space-around;
	margin: 2rem 2rem 1rem 2rem;
}

.cart_img {
	height: 10rem;
	width: 10rem;
	object-fit: contain;
	margin-left: 2rem;
}

.quantity {
	display: flex;
	gap: 7px;
}

.cart_buttons {
	padding: 3px;
	border: thin solid grey;
	background-color: #fffffe;
	font-size: 1.7rem;
	font-weight: bold;
	color: #5a5a5a;
	width: 3rem;
	height: 3.8rem;
}

.cart_prodtitle {
	font-size: 1.4rem;
	font-weight: 600;
	color: #141414;
}

.cart_prodprice {
	font-size: 1.3rem;
}

.cart_remove {
	margin-right: 1rem;
	font-weight: bold;
	font-size: 2.4rem;
}

.cart_bg {
	width: 100vw;
	height: 60rem;
	object-fit: cover;
}

.cartbg_title {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.your_Cart {
	font-size: 4rem;
	font-weight: bold;
	margin-left: 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	letter-spacing: 0.5px;
}

.link_cart_home {
	position: absolute;
	top: 25%;
	left: 47%;
	transform: translate(-50%, -50%);
	font-size: 2.3rem;
	font-weight: bold;
	text-decoration: none;
	color: grey;
}

.link_cart_produse {
	position: absolute;
	top: 25%;
	left: 53%;
	transform: translate(-50%, -50%);
	font-size: 2.3rem;
	font-weight: bold;
	text-decoration: none;
	color: grey;
}

.product_quantity {
	font-size: 1.8rem;
	margin-top: 0.7rem;
}

.cancel_button {
	margin-right: 2rem;
}

.cancel_button:hover {
	cursor: pointer;
}

.amount {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.amount_title {
	font-size: 2.3rem;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.amount_btn {
	font-size: 1.8rem;
	margin-bottom: 3rem;
	margin-top: 1rem;
	background-color: #141414;
	color: #fffffe;
	font-weight: bold;
	border-radius: 1.5rem;
}

.empty_cart {
	display: flex;
	margin-right: 65rem;
	align-items: center;
}

.empty_png_flex {
	display: flex;
	align-items: center;
}

.error_png {
	object-fit: cover;
	width: 3rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.empty_cart_title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 2rem;
	letter-spacing: 0.25px;
}

.empty_cart_btn {
	padding: 10px 20px;
	font-size: 1.6rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s;
}

.empty_cart_btn:hover {
	background-color: #141414;
	color: #fffffe;
}


.empty_cart_png {
	object-fit: cover;
	width: 30rem;
}

@media screen and (max-width: 480px) {
	.cart_bg {
		width: auto;
		object-fit: contain;
		height: 30rem;
	}

	.cartbg_title {
		top: 12%;
		left: 52%;
		font-size: 3.2rem;
	}

	.link_cart_home {
		top: 16%;
		left: 43%;
		font-size: 2rem;
	}
	.link_cart_produse {
		top: 16%;
		left: 65%;
		font-size: 2rem;
	}

	.your_Cart {
		font-size: 3rem;
	}
		
	.body {
		height: 100vh;
	}

	.cart {
		gap: 2rem;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 3rem;
	}

	.cart_card {
		width: 100vw;
	}

	.cart_img {
		width: 5rem;
		height: 5rem;
		margin-left: 3rem;
		padding-right: 15px;
	}

	.cart_prodtitle {
		font-size: 1.2rem;
		font-weight: 600;
		color: #141414;
	}

	.cart_buttons {
		font-size: 1.5rem;
		width: 3rem;
		height: 3rem;
	}
	.cart_prodprice {
		font-size: 1.2rem;
		padding: 15px;
	}

	.cancel_button {
		margin-right: 3rem;
		margin-left: 2rem;
		width: 3rem;
	}

	.product_quantity { 
		font-size: 1.5rem;
		margin: auto;
	}

	.quantity {
		display: grid;
		padding: 20px;
		align-items: center;
	}

	.cart_prodprice {
		padding-right: 25px;
	}

	.empty_cart {
		display: flex;
		margin-right: 2rem;
		align-items: center;
	}
	.error_png {
		object-fit: cover;
		width: 5rem;
		margin-bottom: 0;
		margin-left: 0.05rem;
		margin-top: 1.5rem;
	}

	.empty_cart_title {
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 1rem;
		letter-spacing: 0px;
		margin-top: 2rem;
	}
	
	.empty_cart_btn {
		padding: 10px 20px;
		font-size: 1.4rem;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		font-weight: 600;
		transition: all 0.3s;
		margin-bottom: 3rem;
		margin-top: 1rem;
	}
	
	.empty_cart_btn:hover {
		background-color: #141414;
		color: #fffffe;
	}
	
	
	.empty_cart_png {
		object-fit: cover;
		width: 20rem;
	}
}
