.produse_page {
	display: flex;
	
	font-family: "Montserrat", sans-serif;
	margin-top: 4rem;
}

.filter_section {
	width: 25vw;
	text-align: center;
	height: 100vh;
}




#search {
	width: 55rem;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 50rem center;
	border-radius: 1rem;
	padding-left: 3rem;
	font-size: 1.6rem;
}

#search::placeholder { 
	font-size: 1.4rem;
    color: rgb(175, 174, 174);
}

.category_ti {
	text-transform: capitalize;
	font-size: 1.6rem;
	color: grey;
}

.category_ti:hover {
	cursor: pointer;
	color: black;
}

.categories_title {
	font-weight: bold;
}