.produse_page {
	display: flex;
	margin-top: 5rem;
	font-family: "Montserrat", sans-serif;
}

.filter_section {
	width: 25vw;
	text-align: center;
}

.products_section {
	width: 74vw;
}

#search {
	width: 55rem;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 50rem center;
	border-radius: 1rem;
	padding-left: 3rem;
	font-size: 1.6rem;
}

#search::placeholder { 
	font-size: 1.4rem;
    color: rgb(175, 174, 174);
}

.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
