
.description {
    display: grid;
    justify-content: center;
}

#title_trending {
    text-align: center;
    margin-top: 5rem;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

#par_trending {
    font-size: 1.6rem;
    color: grey;
    margin-bottom: 9rem;
}

#title_trending:before,
#title_trending:after {
  background-color: grey;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#title_trending:before {
  right: 0.5em;
  margin-left: -50%;
}

#title_trending:after {
  left: 0.5em;
  margin-right: -50%;
}

.card {
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border: thin solid #f6f6f6;
    border-radius: 10px;
}

.product_title {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
}


.cards_photos {
    width: 15rem;
    height: 30rem;
    object-fit: contain;
}

.row {
    margin-left: 5rem;
}

.bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 5px;
    width: 30rem;
}

.product_desc {
    font-size: 1.6rem;
    color: rgb(73, 72, 72);
    margin-top: 1rem
}

#product_button {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}