:root {
    --ff-1: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body{
    background-color: #fffffe;
    font-family: var(--ff-1);
}
